/* COLORS */
$yellow: #f2c425;
$yellow2: #F7DC6F;
$orange: #F05203;
$orange2: #DC4A01;
$black: #3D3D3D;
$black2: #363636;
$black3: #0B0B0B;
$gray: #BDBDBD;


/* FONTS */
$script: 'Kaushan Script', cursive;
$oswald: 'Oswald', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$raleway: 'Raleway', sans-serif;
