.generic-content{
  font-family: $quicksand;
  line-height: 1.75;

  p{
    font-family: $quicksand;
    line-height: 1.75;
    margin: 0 0 1.8rem 0;

    @mixin atExLarge{
      line-height: 1.77;
      font-size: 1.3125rem;
    }

  }

  &--critic{
    text-align: center;
  }

}
