.hero {
  position: relative;

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__small-title{
    color: $yellow;
    font-family: $script;
    font-size: 2.5rem;
    margin-bottom: 0;

    @mixin atMedium{
      font-size:3.125rem;
    }

    @mixin atLarge{
      font-size: 4.375rem;
    }

    @mixin atExLarge{
      font-size: 5.9375rem;
    }

  }

  &__large-title{
    color:#fff;
    font-family: $oswald;
    font-size:3.125rem;
    text-transform: uppercase;
    margin-top: 0;

    @mixin atMedium{
      font-size: 3.75rem;
    }

    @mixin atLarge{
      font-size: 5rem;
    }

    @mixin atExLarge{
      font-size: 7.5rem;
    }

  }


}
