.menu{
  font-family: $oswald;
  text-transform: uppercase;

  &__item{
    background-color: black;
    padding-top:0.0625rem;
    padding-left: 0.75rem;
  }

  &__item--name{
    display: inline-block;
    color: #fff;
    font-weight: 100;
    font-size: 0.9375rem;
  }

  &__item--amount{
    color: $yellow;
    font-size: 0.875rem;
    margin-left: 8.125rem;

    @mixin atSmall{
      margin-left: 21.5625rem;
    }

    @mixin atMedium{
      margin-left: 10.625rem;
    }

    @mixin atLarge{
      margin-left: 2.8125rem;
    }


    @mixin atExLarge{
      margin-left: 12.1875rem;
    }

    @mixin atExLarge2{
      margin-left: 5.9375rem;
    }
  }


}
