.site-footer{
  background-color:#121212;
  color: #fff;

  &__heading{
    font-weight: 100;

    @mixin atMedium{
      font-size: 1.375rem;
      margin-bottom: 0.75rem;
    }

    @mixin atExLarge{
      font-size: 1.25rem;
    }
  }

  &__heading--newsletter{
    text-align: center;


    @mixin atLarge{
      margin-right: 13.25rem;
      margin-bottom: -0.1875rem;
    }

    @mixin atExLarge{
      margin-right: 12.1875rem;
    }
  }

  &__contact-info{
    text-align: center;
  }


  &__text{
    font-family: $oswald;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.9375rem;

    @mixin atMedium{
      font-size: 1.0625rem;
    }

    @mixin atExLarge{
      text-align: left;
      margin-left: 10.9375rem;
    }

    @mixin atExLarge2{
      text-align: left;
      margin-left: 6.875rem;
    }

  }


  &__social-media{
    text-align: center;
    font-family: $oswald;
    font-weight: 100;
    text-transform: uppercase;

    @mixin atLarge{
      margin-top: -2.8125rem;
      margin-right: 35px;
    }

    @mixin atExLarge{
      text-align: center;
      margin-top: -3.4375rem;
    }

    @mixin atExLarge2{
      text-align: center;
    }
  }


  &__newsletter{
    text-align: center;
    font-family: $oswald;
    font-weight: 100;
    text-transform: uppercase;

    @mixin atLarge{
      margin-top: 2.8125rem;
      text-align: left;
    }

    @mixin atExLarge{
      margin-top: 2.8125rem;
      text-align: center;
    }

    @mixin atExLarge2{
      margin-top: 2.8125rem;
      margin-left: 3.75rem;
    }
  }

  &__text--newsletter{
    font-size: 0.9375rem;

    @mixin atMedium{
      font-size: 1.0625rem;
    }

    @mixin atLarge{
      font-size: 1rem;
    }

    @mixin atExLarge{
      margin-top: -0.9375rem;
    }
  }

  &__creator{
    font-family: $oswald;
    text-transform: uppercase;
    font-size: 0.6875rem;
    padding: 0.625rem;
    margin-top: 1.375rem;
    background-color: black;
    /* text-align: center; */

    & p {
      text-align: center;
    }
  }

  &__portfolio{
    color: crimson;
    transition: 250ms ease;
  }

  &__portfolio:hover{
    color: #fff;
  }

}
